* {
  font-family: "Arial Narrow";
  color: rgb(241, 207, 156);
}

body {
  background-image: url(../Imágenes/Background.jpg);
}

.navbar {
  background-color: rgb(248, 196, 117);
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: right;
  border-bottom: 1px solid #fff;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
}

#Logo-AP {
  padding-bottom: 14px;
  padding-left: 0px;
  height: 70px;
  width: auto;
}
.Logo-Twitter {
  height: 35px;
  width: auto;
  padding-right: 5px;
}

.Logo-Instagram {
  height: 36px;
  width: auto;
}

.Logo-Linkedin {
  height: 42px;
  width: auto;
}

@media (max-width: 450px) {
  .Logo-Twitter {
    height: 10px;
    width: auto;
    padding-right: 5px;
  }

  .Logo-Instagram {
    height: 10px;
    width: auto;
  }

  .Logo-Linkedin {
    height: 13px;
    width: auto;
    padding-left: 5px;
    padding-bottom: 1px;
  }

  #Boton-login {
    color: black;
    border-color: black;
    border-width: 2px;
    height: 13px;
  }
}

li {
  padding: 10px 20px;
  position: relative;
}

#Boton-login {
  color: black;
  border-color: black;
  border-width: 2px;
}

#img-Banner {
  width: 100%;
  margin: 0;
  padding: 0;
}

#Título {
  position: absolute;
  top: 80px;
  left: 22px;
  color: rgb(241, 207, 156);
  font-size: 40px;
}

.card {
  position: right;
  margin-left: 0px;
}

#Foto-CV {
  height: 270px;
  width: auto;
  float: left;
  align-items: left;
}

.Card-Personal {
  margin-top: 10px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  text-align: left;
}

.Card-Personal h2 {
  font-size: 30px;
}

a {
  color: rgb(241, 207, 156);
}

footer {
  width: 100%;
  align-items: center;
}

footer h7 {
  padding-bottom: 10px;
}
